html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  color: #555;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.25;
  background-color: #e1f3f3;
  display: flex;
  flex-direction: column;
  height: 100%;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #d73faf;
}

#page-container {
  flex: 1;
}

#top {
  background-color: #00a3b8;
  padding: 16px 32px;
  color: #e1f3f3;
}
.title {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

#content {
  padding: 32px;
  margin: 0 auto;
  max-width: 1600px;
}

.region {
  margin-bottom: 96px;
}

.headline {
  margin: 24px 0;
}
.sub-title {
  font-size: 32px;
  margin: 24px 0;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.cumulative,
.date,
.daily-rate {
  font-weight: 700;
  color: #d73faf;
}

.chart-container {
  margin-top: 48px;
  background-color: white;
}
.chart-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 24px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 300;
  background-color: white;
  text-align: center;
}
.chart-disclaimer {
  margin: 8px 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-style: italic;
}

footer {
  margin-top: 16px;
  padding: 32px;
  background-color: rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  font-size: 16px;
  padding: 8px;
}

#footer-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
